/* 페이퍼 스타일 */
.paper {
    width: 190px;
    margin-top: 10px;
    padding: 15px 15px 0;
    font-size: 12px;
    background-color: #ffffff;
    box-shadow:0 1px 3px rgba(34, 25, 25, 0.5);
}

.paper-description { 
    margin : 10px 0;
}

.paper-content {
    margin : 10px -15px 0 -15px;
    padding : 15px 15px 0;
    background-color: #f2f0f0;
    overflow: hidden;
}

.paper-link {
    display : block;
    float:left;
}

.paper-text {
    float: left;
    width: 150px;
    margin-left:10px;
}

 /* 섹션 스타일 */

 #main-section {
    width: 920px;
    margin: 0 auto; /* 중앙으로 가게 만듬 */
}

/* 세줄 */
@media(max-width: 919px) {
    #main-section{
        width: 690px;
    }
}

/* 네줄 */
@media(min-width: 920px) and (max-width: 1149px) { /*max-width를 메인섹션 width와 맞춰주기 위해 920px로 바꿈 */
    #main-section{
        width: 920px;
    }
}

/* 다섯줄 */
@media(min-width: 1150px) and (max-width: 1379px) {
    #main-section{
        width: 1150px;;
    }
}

/* 여섯줄 */
@media(min-width: 1380px) {
    #main-section{
        width: 1380px;
    }
}

/* 라이트박스 */
#darken-background {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    overflow-y: scroll;
}

#lightbox {
    width: 700px;
    margin: 20px auto; padding: 15px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: white; /* #fffff; */
    box-shadow: 0 5px 5px rgba(34, 25, 25, 0.4);
    text-align: center;
}

.user-information { overflow: hidden; text-align: left; }
.user-information-image { float: left; width: 70px; }
.user-information-text { float: right; width: 620; } 
.lightbox-splitter { margin: 10px 0; }
